{
  "$schema": "https://aka.ms/winget-packages.schema.2.0.json",
  "CreationDate": "{{ now | date "2006-01-02T15:04:05.000-07:00" }}",
  "WinGetVersion": "1.9.0",
  "Sources": [
    {
      "SourceDetails": {
        "Argument": "https://cdn.winget.microsoft.com/cache",
	"Identifier": "Microsoft.Winget.Source_8wekyb3d8bbwe",
        "Name": "winget",
        "Type": "Microsoft.PreIndexed.Package"
      },
      "Packages": [
        {{- $packages := .winget.packages -}}
        {{- range $index, $pkg := $packages -}}
        {{- if $index }},{{ end }}
        {
          "PackageIdentifier": "{{ $pkg }}"
        }
        {{- end }}
      ]
    }
  ]
}
