#!/bin/bash

# Brewfile のハッシュ値が変わった（＝中身が書き換わった）時だけ実行されます
# {{ include ".chezmoidata/homebrew.toml" | sha256sum }}
# {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}

echo "Checking for new Homebrew packages..."
brew bundle --global
