### General ###
LICENSE
README.md

### Windows ###
{{ if ne .chezmoi.os "windows" }}
Documents
.config/winget
.wslconfig
**/*.ps1
**/*.ps1.tmpl
{{ else }}
.config/homebrew
.config/mise
.config/zsh
.zshenv
**/*.sh
**/*.sh.tmpl
{{ end }}

### GUI Applications ###
{{ if .isHeadless }}
.config/wezterm
{{ end }}
