[data]
    isWsl = {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    isWork = {{ not (or (eq .chezmoi.os "windows") .isWsl) }}
    isGui = {{ or (eq .chezmoi.os "windows") (eq .chezmoi.os "darwin") }}

{{- if eq .chezmoi.os "windows" }}
[edit]
    command = "code"
    args = ["--wait"]
{{- else }}
[edit]
    command = "nvim"
{{- end }}

[git]
    autoCommit = true
    autoPush = true
