[data]
    isWsl = {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    isWork = {{ not (or (eq .chezmoi.os "windows") (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft"))) }}
    isHeadless = {{ not (or (eq .chezmoi.os "windows") (eq .chezmoi.os "darwin")) }}

[edit]
    apply = true
{{- if eq .chezmoi.os "windows" }}
    command = "code"
    args = ["--wait"]
{{- else }}
    command = "nvim"
{{- end }}

[git]
    autoCommit = true
    autoPush = true
