### General ###
LICENSE
README.md
CLAUDE.md

### Windows ###
{{ if ne .chezmoi.os "windows" }}
Documents
.config/winget
.wslconfig
**/*.ps1
**/*.ps1.tmpl
{{ else }}
.config/homebrew
.config/mise
.config/yazi
.config/zsh
.zshenv
**/*.sh
**/*.sh.tmpl
{{ end }}

### macOS ###
{{ if ne .chezmoi.os "darwin" }}
.config/karabiner
{{ end }}

### GUI Applications ###
{{ if .isHeadless }}
.config/wezterm
{{ end }}

### Claude Code ###
{{ if not (lookPath "claude") }}
.claude
.claude.json
{{ end }}

### Gemini ###
{{ if not (lookPath "gemini") }}
.gemini
{{ end }}
