### General ###
LICENSE
README.md

### Windows ###
{{ if eq .chezmoi.os "windows" }}
.config/homebrew
.config/mise
.config/zsh
.zshenv
**/*.sh
**/*.sh.tmpl
{{ else }}
Documents
{{ end }}

### for WSL ###
{{ if .isWsl }}
.config/wezterm
{{ end }}
