[data]
    isWsl = {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

{{- if eq .chezmoi.os "windows" }}
[edit]
    command = "code"
    args = ["--wait"]
{{- else }}
[edit]
    command = "nvim"
{{- end }}

[git]
    autoCommit = true
    autoPush = true
