[user]
    name = "Keisuke Hirota"
    email = "14054951+k-tahiro@users.noreply.github.com"
{{- if eq .chezmoi.os "linux" }}
[credential "https://github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
{{- end }}
