[user]
    name = "Keisuke Hirota"
    email = "14054951+k-tahiro@users.noreply.github.com"
{{- if ne .chezmoi.os "windows" }}
[credential "https://github.com"]
    helper =
    helper = !{{- .brewPrefix -}}/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !{{- .brewPrefix -}}/bin/gh auth git-credential
{{- end }}
[pull]
    rebase = true
[alias]
    prune-branches = "!f() { git fetch -p; branches=$(git branch -vv | awk \"/: gone]/{print \\$1}\"); if [ -n \"$branches\" ]; then echo \"$branches\" | xargs git branch -D; echo \"不要なブランチを削除しました。\"; else echo \"削除する不要なブランチはありません。\"; fi; }; f"
