brew "chezmoi"
brew "fzf"
brew "gcc"
brew "gh"
brew "ghq"
brew "mise"
brew "neovim"
brew "yq"
cask "claude-code"
cask "copilot-cli"

{{ if eq .chezmoi.os "darwin" }}
cask "wezterm"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
brew "gemini-cli"
{{   end }}
{{ end }}
