brew "chezmoi"
brew "eza"
brew "fzf"
brew "gcc"
brew "gh"
brew "ghq"
brew "mise"
brew "neovim"
brew "starship"
brew "yq"
cask "copilot-cli"

{{- if eq .chezmoi.os "darwin" }}
cask "claude-code"
cask "wezterm"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
brew "gemini-cli"
{{-   end }}
{{- end }}
