[settings]
disable_backends = ["asdf", "vfox"]

[tools]
bat = "latest"
bottom = "latest"
bun = "latest"
chezmoi = "latest"
direnv = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
ghq = "latest"
herdr = "latest"
jq = "latest"
lazygit = "latest"
neovim = "latest"
node = "lts"
ripgrep = "latest"
rtk = "latest"
starship = "latest"
uv = "latest"
yazi = "latest"
yq = "latest"
zoxide = "latest"

{{- if eq .chezmoi.os "darwin" }}
colima = "latest"
{{- end }}

{{- if .isWork }}
aws-cli = "latest"
azure-cli = "latest"
claude-code = "latest"
copilot-cli = "latest"
codex = "latest"
crane = "latest"
docker-cli = "latest"
docker-compose = "latest"
gcloud = "latest"
terraform = "1.9.7"
"aqua:DataDog/pup" = "latest"
"aqua:docker/buildx" = "latest"
{{- else }}
opencode = "latest"
{{- end }}
