name: k-tahiro
version: 1.0.0
description: APM project for k-tahiro
author: k-tahiro
targets:
{{- if lookPath "claude"}}
  - claude
{{- end }}
{{- if lookPath "codex"}}
  - codex
{{- end }}
{{- if lookPath "opencode"}}
  - opencode
{{- end }}

dependencies:
  apm:
    - iKora128/stop-ai-slop-jp
  mcp:
    # - io.github.github/github-mcp-server
    - name: github
      registry: false
      transport: stdio
      command: github-mcp-server-stdio
    - oraios/serena
includes: auto
scripts: {}
