# ==========================================
# .zprofile
# ==========================================

# ツールの初期化
eval "$(mise activate zsh --shims)"
eval "$(direnv hook zsh)"

# デフォルトエディタを Neovim に設定
export EDITOR="nvim"
export VISUAL="nvim"

# GitHub
export GITHUB_TOKEN="$(gh auth token)"
export GITHUB_PAT="$(gh auth token)"
export GITHUB_PERSONAL_ACCESS_TOKEN="$(gh auth token)"

# PATH設定
{{- if eq .chezmoi.os "darwin" }}
# Added by LM Studio CLI (lms)
export PATH="$PATH:$HOME/.lmstudio/bin"
# End of LM Studio CLI section
{{- end }}

# Local
if [ -f "$ZDOTDIR/.zprofile.local" ]; then
  source "$ZDOTDIR/.zprofile.local"
fi
