# ==========================================
# .zprofile
# ==========================================

# ツールの初期化
eval "$({{- .brewPrefix -}}/bin/brew shellenv)"
eval "$(mise activate zsh)"
eval "$(direnv hook zsh)"

# デフォルトエディタを Neovim に設定
export EDITOR="nvim"
export VISUAL="nvim"

# GitHub
export GITHUB_PAT="$(gh auth token)"

# PATH設定
{{- if eq .chezmoi.os "darwin" }}
# Added by LM Studio CLI (lms)
export PATH="$PATH:$HOME/.lmstudio/bin"
# End of LM Studio CLI section
{{- end }}

# Local
if [ -f "$ZDOTDIR/.zprofile.local" ]; then
  source "$ZDOTDIR/.zprofile.local"
fi
