### tool setup ###
eval "$(starship init zsh)"
# Only start zellij if not already inside a zellij session
if [[ -z "$ZELLIJ" ]]; then
    eval "$(zellij setup --generate-auto-start zsh)"
fi
eval "$(zoxide init zsh)"
source <(fzf --zsh)

### command aliases ###
alias cat='bat'
alias cd='z'
alias find='fd'
alias grep='rg'
alias ls='eza'
alias top='btm'

### aliases ###
alias ll='ls -la'
alias relogin='exec $SHELL -l'

### functions ###
function git_prune_branches {
    git fetch --prune
    git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
}

{{- if eq .chezmoi.os "darwin" }}
function notify {
    local message="$1"
    osascript -e "display notification \"$message\" with title \"Shell\""
}
{{- end }}

### local ###
if [ -f "$ZDOTDIR/.zshrc.local" ]; then
    source "$ZDOTDIR/.zshrc.local"
fi
