-- WezTerm Configuration
local wezterm = require 'wezterm'
local config = wezterm.config_builder()

-- OS Specific Settings
{{- if eq .chezmoi.os "windows" }}
local distro = "Ubuntu"
config.default_domain = 'WSL:' .. distro
{{- end }}

-- General Behavior
config.automatically_reload_config = true
config.window_close_confirmation = 'AlwaysPrompt'
config.use_ime = true
config.default_cursor_style = 'BlinkingUnderline'

-- Appearance & Layout
config.color_scheme = 'Dracula+'
config.char_select_bg_color = "#282A36"
config.char_select_fg_color = "#F8F8F2"
config.hide_tab_bar_if_only_one_tab = true
config.enable_scroll_bar = true
wezterm.on("format-tab-title", function(tab)
  return tab.active_pane.title
end)

-- Font Settings
config.font = wezterm.font_with_fallback {
    { family = 'Moralerspace Neon', weight = "Bold" },
    { family = 'HackGen Console NF', weight = "Bold" }
}
config.font_size = {{ if eq .chezmoi.os "windows" -}}14.0{{ else }}16.0{{ end }}

-- Keybind
config.keys = {
  -- Debug log
  {
    key = 'L',
    mods = 'CTRL',
    action = wezterm.action.ShowDebugOverlay
  },
  -- Shift+Enterで改行を送信
  {
    key = 'Enter',
    mods = 'SHIFT',
    action = wezterm.action.SendString('\n')
  },
}

-- 通知
local function is_claude(pane)
  local process = pane:get_foreground_process_info()
  if not process or not process.argv then
    return false
  end
  -- 引数に"claude"が含まれているかチェック
  for _, arg in ipairs(process.argv) do
    if arg:find("claude") then
      return true
    end
  end
  return false
end

wezterm.on("bell", function(window, pane)
  if is_claude(pane) then
    window:toast_notification("Claude Code", "Task completed", nil, 4000)
  end
end)

-- Startup
{{- if eq .chezmoi.os "darwin" }}
local zellij = "/opt/homebrew/bin/zellij"
{{- else }}
local zellij = "/home/linuxbrew/.linuxbrew/bin/zellij"
{{- end }}
wezterm.on('gui-startup', function(cmd)
  -- Zellij session一覧取得
  local success, stdout, stderr = wezterm.run_child_process({
{{- if eq .chezmoi.os "windows" }}
    "wsl.exe",
    "-d",
    distro,
    "--",
{{- end }}
    "/bin/zsh",
    "-lc",
    zellij .. " list-sessions --no-formatting --short",
  })
  local sessions = {}
  if success and stdout then
    for line in stdout:gmatch("[^\r\n]+") do
      local s = line:match("^%s*(.-)%s*$")
      if s ~= "" then
        table.insert(sessions, s)
      end
    end
    wezterm.log_info("successed to get zellij sessions: " .. stdout)
  else
    wezterm.log_error("failed to get zellij sessions: " .. stderr)
  end

  local tab, pane, window
  if #sessions > 0 then
    tab, pane, window = wezterm.mux.spawn_window({
      args = {
        "zsh",
        "-lc",
        'exec ' .. zellij .. ' attach ' .. sessions[1],
      },
    })

    for i = 2, #sessions do
      window:spawn_tab({
        args = {
          "zsh",
          "-lc",
          'exec ' .. zellij .. ' attach ' .. sessions[i],
        },
      })
    end
  end

  window:gui_window():maximize()
end)

return config
