-- WezTerm Configuration
local wezterm = require 'wezterm'
local config = wezterm.config_builder()

-- OS Specific Settings
{{- if eq .chezmoi.os "windows" }}
config.default_domain = 'WSL:Ubuntu'
{{- end }}

-- General Behavior
config.automatically_reload_config = true
config.window_close_confirmation = 'AlwaysPrompt'
config.use_ime = true
config.default_cursor_style = 'BlinkingUnderline'

-- Appearance & Layout
config.color_scheme = 'Dracula+'
config.hide_tab_bar_if_only_one_tab = true
config.enable_scroll_bar = true
config.initial_rows = 36
config.initial_cols = 120

-- Font Settings
config.font = wezterm.font 'FiraCode Nerd Font'
config.font_size = 13

return config
