# --- Taps ---
{{ range .homebrew.shared.taps -}}
tap {{ . | quote }}
{{ end -}}
{{- if .isWork }}
{{ range .homebrew.work.taps -}}
tap {{ . | quote }}
{{ end -}}
{{- else }}
{{ range .homebrew.private.taps -}}
tap {{ . | quote }}
{{ end -}}
{{- end }}

# --- Brews ---
{{ range .homebrew.shared.brews -}}
brew {{ . | quote }}
{{ end -}}
{{- if .isWork }}
{{ range .homebrew.work.brews -}}
brew {{ . | quote }}
{{ end -}}
{{- else }}
{{ range .homebrew.private.brews -}}
brew {{ . | quote }}
{{ end -}}
{{- end }}

# --- Casks ---
{{ range .homebrew.shared.casks -}}
cask {{ . | quote }}
{{ end -}}
{{- if .isWork }}
{{ range .homebrew.work.casks -}}
cask {{ . | quote }}
{{ end -}}
{{- else }}
{{ range .homebrew.private.casks -}}
cask {{ . | quote }}
{{ end -}}
{{- end }}
