{{ template "homebrew" dict "taps" .homebrew.shared.taps "brews" .homebrew.shared.brews "casks" .homebrew.shared.casks }}
{{- if .isWork }}
{{ template "homebrew" dict "taps" .homebrew.work.taps "brews" .homebrew.work.brews "casks" .homebrew.work.casks }}
{{- else }}
{{ template "homebrew" dict "taps" .homebrew.private.taps "brews" .homebrew.private.brews "casks" .homebrew.private.casks }}
{{- end }}

{{- if not .isHeadless }}
# --- GUI Casks ---
{{ range .homebrew.shared.gui_casks -}}
cask {{ . | quote }}
{{ end -}}
{{- if .isWork }}
{{ range .homebrew.work.gui_casks -}}
cask {{ . | quote }}
{{ end -}}
{{- else }}
{{ range .homebrew.private.gui_casks -}}
cask {{ . | quote }}
{{ end -}}
{{- end }}
{{- end }}
